#btn-up {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid #1d1616  2px;
    border-radius: 10px;
    margin: 0px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background-color .3s;
    z-index: 1000;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
}

#btn-up i {
    color: #1d1616;
    font-size: 23px;
}

#btn-up:hover {   
    cursor: pointer;
    transform: scale(1.15);
}

#btn-up:active {   
    background-color: #8b8989; 
} 

.dont-show {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: inherit;
}